@page
@model ProjetASI.Pages.Caissiers.IndexModel

@{
    ViewData["Title"] = "Les caissiers";
}

<h1>Les caissiers</h1>

<p>
    <a asp-page="Create">Ajouter un caissier</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caissier[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caissier[0].Prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Caissier) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Éditer</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
