@page
@model ProjetASI.Pages.Commandes.IndexModel

@{
    ViewData["Title"] = "Les commandes";
}

<h1>Les commandes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Serveur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Etat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commande[0].Encaissee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Commande) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Id)
            </td>
            <td>
                @(item.Serveur.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @(item.Encaissee ? "Oui" : "Non")
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Détails</a>
                @if (item.Etat == Models.EtatCommande.EN_COURS)
                {
                    <a asp-page="./Preparer" asp-route-id="@item.Id">Préparer</a>
                }
                @if (item.Etat == Models.EtatCommande.PRETE)
                {
                    <a asp-page="./Servir" asp-route-id="@item.Id">Servir</a>
                }
                @if (item.Etat == Models.EtatCommande.SERVIE && item.Facture == null)
                {
                    <a asp-page="/Factures/Create" asp-route-id="@item.Id">Facturer</a>
                }
                <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
