@page
@model ProjetASI.Pages.Barmans.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<div>
    <h4>Barman @(Model.Barman?.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.Prenom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Barman.Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retourner à la liste des barmans</a>
    </form>
</div>
