@page
@model ProjetASI.Pages.Barmans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Barman @(Model.Barman?.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barman.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barman.Prenom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Barman?.Id">Éditer</a> |
    <a asp-page="./Index">Retourner à la liste des barmans</a>
</div>
